{% extends "main.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h3>Add new Team</h3>
      <form action="{{ url_for('newTeam')}}" method='post'>
        <label for="name">Name:</label>
        <input type="text" name='name'> <br>
        <label for="description">Description:</label> <br>
        <textarea name="description" rows="8" cols="40"></textarea> <br>
        <label for="country_id">Country:</label>
        <select name="country_id">
          {% for country in countries %}
            <option value="{{country.id}}">{{ country.name }}</option>
          {% endfor %}
        </select><br> <br>
        <input class="btn btn-block btn-primary center" type='submit' value='Add'>
      </form>
      <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-warning" role="alert">
            {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}